<mat-dialog-content>
  <mat-toolbar><span>Formulario</span></mat-toolbar>

  <div class="example-container">
    <form [formGroup]="form"  class="example-container" #CargoForm="ngForm">

      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="nombreCargo">
      </mat-form-field>

      <br/>
      <button mat-button (click)="operate()" [disabled]="form.invalid">Guardar</button>
      <button mat-button color="accent" (click)="close()">Cancelar</button>
    </form>
  </div>
</mat-dialog-content>
